<!doctype html>
<html lang="en" prefix="og: http://ogp.me/ns#">
{% include pres_head.html %}

<body>

    {% include header.html %}
    <main role="main">
        <article id="webslides" class="vertical">
            <!-- Quick Guide
            - Each parent <section> in the <article id="webslides"> element is an individual slide.
            - Vertical sliding = <article id="webslides" class="vertical">
            - <div class="wrap"> = container 90% / <div class="wrap size-50"> = 45%;
          -->
            <section class="aligncenter">
                <!--.wrap = container (width: 90%) -->
                <div class="wrap size-50">
                    <h2 class="text-landing">Artificial Intelligence in Gastroenterology</h2>
                    <!-- <p class="text-intro"><strong>AI</strong> is changing the world.<br>
                        We are using it to change medicine.</p> -->
                    <!-- <nav class="aligncenter">
                        <ul>
                            <li><a href="https://twitter.com/webslides">Twitter</a></li>
                            <li><a href="https://dribbble.com/tags/webslides">Dribbble</a></li>
                            <li><a href="https://github.com/webslides/webslides">Github</a></li>
                        </ul>
                    </nav> -->
                </div>
            </section>
            <!-- <section>
                <span class="background"
                    style="background-image:url('https://webslides.tv/static/images/nature.jpg')"></span>
                .wrap = container (width: 90%)
                <div class="wrap aligncenter">
                    <h1><strong>AI in Medicine</strong></h1>
                    <p class="text-intro">We use machine learning to diagnose gastro-intestinal diseases<br>
                    </p>
                    <p>
                    </p>
                </div>
                .end .wrap
            </section> -->
            <section>
                <div class="wrap">
                    <h3>How we work?</h3>
                    <ul class="flexblock steps">
                        <!-- li>a? Add blink = <ul class="flexblock steps blink">-->
                        <li>
                            <span>
                                <svg class="fa-heartbeat">
                                    <use xlink:href="#fa-heartbeat"></use>
                                </svg>
                            </span>
                            <h2>01. Passion</h2>
                            <p>When you're really passionate about your job, you can change the world.</p>
                        </li>
                        <li>
                            <div class="process step-2"></div>
                            <span>
                                <svg class="fa-magic">
                                    <use xlink:href="#fa-magic"></use>
                                </svg>
                            </span>
                            <h2>02. Purpose</h2>
                            <p>Why does this business exist? How are you different? Why matters?</p>
                        </li>
                        <li>
                            <div class="process step-3"></div>
                            <span>
                                <svg class="fa-balance-scale">
                                    <use xlink:href="#fa-balance-scale"></use>
                                </svg>
                            </span>
                            <h2>03. Principles</h2>
                            <p>Leadership through openness, empathy, usefulness, and good taste.</p>
                        </li>
                        <li>
                            <div class="process step-4"></div>
                            <span>
                                <svg class="fa-cog">
                                    <use xlink:href="#fa-cog"></use>
                                </svg>
                            </span>
                            <h2>04. Process</h2>
                            <ul>
                                <li>Useful</li>
                                <li>Easy</li>
                                <li>Fast</li>
                                <li>Beautiful</li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- .end .wrap -->
            </section>
            <section>
                <!--.wrap = container (width: 90%) -->
                <div class="wrap">
                    <div class="grid vertical-align">
                        <div class="column">
                            <h3><strong>Convolution Neural Nets for detecting diseases in gastro-intestinal
                                    images</strong></h3>
                            <p class="text-intro">Machine learning and computer vision have found applications in
                                medical science and, recently, pathology. In particular, deep learning methods for
                                medical diagnostic imaging can reduce delays in diagnosis and give improved accuracy
                                rates over other analysis techniques. This paper focuses on methods with applicability
                                to automated diagnosis of images obtained from gastrointestinal biopsies. These deep
                                learning techniques for biopsy images may help detect distinguishing features in tissues
                                affected by enteropathies. Learning from different areas of an image, or looking for
                                similar patterns in new images, allow for the development of potential classification or
                                clustering models Techniques like these provide a cutting-edge solution to detecting
                                anomalies.</p>
                        </div>
                        <!-- .end .column -->

                    </div>
                    <!-- .end .grid -->
                </div>
                <!-- .end .wrap -->
            </section>
            <section>
                <!--.wrap = container (width: 90%) -->
                <div class="wrap size-50 aligncenter">
                    <h2><strong>Why Machine Learning?</strong></h2>
                    <!-- <p class="text-intro"><a href="demos/why-webslides.html" title="Why WebSlides?">Presentations</a>,
                        <a href="demos/landings.html" title="Landings">landings</a>, <a href="demos/portfolios.html"
                            title="Portfolios">portfolios</a>, and <a href="demos/longforms.html"
                            title="Longforms">longforms</a>.</p> -->
                    <div class="bg-white shadow">
                        <ul class="flexblock reasons">
                            <li>
                                <h2></h2>
                                <p></p>
                            </li>
                            <li>
                                <h2>Work better, faster.</h2>
                                <p>Designers, marketers, and journalists can now focus on the content. Simply <a
                                        href="demos/index.html" title="WebSlides Demos">choose a demo</a> and customize
                                    it in minutes.</p>
                            </li>
                        </ul>
                    </div>
                    <!-- .end .bg-white shadow -->
                </div>
                <!-- .end .wrap -->
            </section>



        </article>
        <!-- end article -->
    </main>
    <!-- end main -->
    <!-- A global footer -->

    <!-- <footer role="contentinfo">
        <div class="wrap">
            <p>An <a href="https://github.com/webslides/webslides">open source solution</a>, by <a
                    href="https://twitter.com/webslides">@webslides</a>.</p>
        </div>
    </footer> -->
    <!-- <div class="container-fluid">
        <div class="row">
            {{ content }}
        </div>
    </div> -->
    <!-- Required -->


    <!-- {% include footer.html %} -->
    <script src="/css/static/js/webslides.js"></script>
    <script>
        window.ws = new WebSlides();
    </script>

</body>

</html>